# loading data

In [ ]:
import pandas as pd

In [ ]:
import os
print("üìç Je suis ici :", os.getcwd())

üìç Je suis ici : /Users/ishaghcheikhsidiya/projects/ProjetPython/PythonProject

In [ ]:
# On enl√®ve "PythonProject/" au d√©but
df = pd.read_csv('data/processed/dataset_complet_30min.csv')

In [ ]:
df.head()

,time,Y_production,GHI_Bordeaux,DNI_Bordeaux,DHI_Bordeaux,T_Bordeaux,WS_Bordeaux,Cloud_Bordeaux,GHI_Marseille,DNI_Marseille,...,GHI_Paris,DNI_Paris,DHI_Paris,T_Paris,WS_Paris,Cloud_Paris,hour_sin,hour_cos,month_sin,month_cos
0,2018-01-01 00:00:00+00:00,-0.5,0.0,0.0,0.0,9.1,21.60,53.0,0.0,0.0,...,0.0,0.0,0.0,8.3,30.7,0.0,0.000000,1.000000,0.5,0.866025
1,2018-01-01 00:30:00+00:00,-0.5,0.0,0.0,0.0,9.2,21.10,39.5,0.0,0.0,...,0.0,0.0,0.0,8.1,30.4,29.5,0.000000,1.000000,0.5,0.866025
2,2018-01-01 01:00:00+00:00,-0.5,0.0,0.0,0.0,9.3,20.60,26.0,0.0,0.0,...,0.0,0.0,0.0,7.9,30.1,59.0,0.258819,0.965926,0.5,0.866025
3,2018-01-01 01:30:00+00:00,-0.5,0.0,0.0,0.0,9.1,20.25,61.5,0.0,0.0,...,0.0,0.0,0.0,7.9,30.0,54.0,0.258819,0.965926,0.5,0.866025
4,2018-01-01 02:00:00+00:00,-0.5,0.0,0.0,0.0,8.9,19.90,97.0,0.0,0.0,...,0.0,0.0,0.0,7.9,29.9,49.0,0.500000,0.866025,0.5,0.866025

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105155 entries, 0 to 105154
Data columns (total 36 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   time             105155 non-null  object
 1   Y_production     105155 non-null  float64
 2   GHI_Bordeaux     105155 non-null  float64
 3   DNI_Bordeaux     105155 non-null  float64
 4   DHI_Bordeaux     105155 non-null  float64
 5   T_Bordeaux       105155 non-null  float64
 6   WS_Bordeaux      105155 non-null  float64
 7   Cloud_Bordeaux   105155 non-null  float64
 8   GHI_Marseille    105155 non-null  float64
 9   DNI_Marseille    105155 non-null  float64
 10  DHI_Marseille    105155 non-null  float64
 11  T_Marseille      105155 non-null  float64
 12  WS_Marseille     105155 non-null  float64
 13  Cloud_Marseille  105155 non-null  float64
 14  GHI_Lyon         105155 non-null  float64
 15  DNI_Lyon         105155 non-null  float64
 16  DHI_Lyon         105155 non-null  float64
 17  T_Lyon           105155 non-null  float64
 18  WS_Lyon          105155 non-null  float64
 19  Cloud_Lyon       105155 non-null  float64
 20  GHI_Nantes       105155 non-null  float64
 21  DNI_Nantes       105155 non-null  float64
 22  DHI_Nantes       105155 non-null  float64
 23  T_Nantes         105155 non-null  float64
 24  WS_Nantes        105155 non-null  float64
 25  Cloud_Nantes     105155 non-null  float64
 26  GHI_Paris        105155 non-null  float64
 27  DNI_Paris        105155 non-null  float64
 28  DHI_Paris        105155 non-null  float64
 29  T_Paris          105155 non-null  float64
 30  WS_Paris         105155 non-null  float64
 31  Cloud_Paris      105155 non-null  float64
 32  hour_sin         105155 non-null  float64
 33  hour_cos         105155 non-null  float64
 34  month_sin        105155 non-null  float64
 35  month_cos        105155 non-null  float64
dtypes: float64(35), object(1)
memory usage: 28.9+ MB