# loading data

In [2]:
import pandas as pd

In [3]:
import os
print("üìç Je suis ici :", os.getcwd())

üìç Je suis ici : /Users/ishaghcheikhsidiya/projects/ProjetPython/PythonProject

In [4]:
# On enl√®ve "PythonProject/" au d√©but
df = pd.read_csv('data/processed/dataset_complet_30min.csv')

In [5]:
df.head()

,time,Y_production,GHI_Bordeaux,DNI_Bordeaux,DHI_Bordeaux,T_Bordeaux,WS_Bordeaux,Cloud_Bordeaux,GHI_Marseille,DNI_Marseille,...,GHI_Paris,DNI_Paris,DHI_Paris,T_Paris,WS_Paris,Cloud_Paris,hour_sin,hour_cos,month_sin,month_cos
0,2018-01-01 00:00:00+00:00,-0.5,0.0,0.0,0.0,9.1,21.60,53.0,0.0,0.0,...,0.0,0.0,0.0,8.3,30.7,0.0,0.000000,1.000000,0.5,0.866025
1,2018-01-01 00:30:00+00:00,-0.5,0.0,0.0,0.0,9.2,21.10,39.5,0.0,0.0,...,0.0,0.0,0.0,8.1,30.4,29.5,0.000000,1.000000,0.5,0.866025
2,2018-01-01 01:00:00+00:00,-0.5,0.0,0.0,0.0,9.3,20.60,26.0,0.0,0.0,...,0.0,0.0,0.0,7.9,30.1,59.0,0.258819,0.965926,0.5,0.866025
3,2018-01-01 01:30:00+00:00,-0.5,0.0,0.0,0.0,9.1,20.25,61.5,0.0,0.0,...,0.0,0.0,0.0,7.9,30.0,54.0,0.258819,0.965926,0.5,0.866025
4,2018-01-01 02:00:00+00:00,-0.5,0.0,0.0,0.0,8.9,19.90,97.0,0.0,0.0,...,0.0,0.0,0.0,7.9,29.9,49.0,0.500000,0.866025,0.5,0.866025

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105155 entries, 0 to 105154
Data columns (total 36 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   time             105155 non-null  object
 1   Y_production     105155 non-null  float64
 2   GHI_Bordeaux     105155 non-null  float64
 3   DNI_Bordeaux     105155 non-null  float64
 4   DHI_Bordeaux     105155 non-null  float64
 5   T_Bordeaux       105155 non-null  float64
 6   WS_Bordeaux      105155 non-null  float64
 7   Cloud_Bordeaux   105155 non-null  float64
 8   GHI_Marseille    105155 non-null  float64
 9   DNI_Marseille    105155 non-null  float64
 10  DHI_Marseille    105155 non-null  float64
 11  T_Marseille      105155 non-null  float64
 12  WS_Marseille     105155 non-null  float64
 13  Cloud_Marseille  105155 non-null  float64
 14  GHI_Lyon         105155 non-null  float64
 15  DNI_Lyon         105155 non-null  float64
 16  DHI_Lyon         105155 non-null  float64
 17  T_Lyon           105155 non-null  float64
 18  WS_Lyon          105155 non-null  float64
 19  Cloud_Lyon       105155 non-null  float64
 20  GHI_Nantes       105155 non-null  float64
 21  DNI_Nantes       105155 non-null  float64
 22  DHI_Nantes       105155 non-null  float64
 23  T_Nantes         105155 non-null  float64
 24  WS_Nantes        105155 non-null  float64
 25  Cloud_Nantes     105155 non-null  float64
 26  GHI_Paris        105155 non-null  float64
 27  DNI_Paris        105155 non-null  float64
 28  DHI_Paris        105155 non-null  float64
 29  T_Paris          105155 non-null  float64
 30  WS_Paris         105155 non-null  float64
 31  Cloud_Paris      105155 non-null  float64
 32  hour_sin         105155 non-null  float64
 33  hour_cos         105155 non-null  float64
 34  month_sin        105155 non-null  float64
 35  month_cos        105155 non-null  float64
dtypes: float64(35), object(1)
memory usage: 28.9+ MB

# EDA

In [7]:
df.describe()

,Y_production,GHI_Bordeaux,DNI_Bordeaux,DHI_Bordeaux,T_Bordeaux,WS_Bordeaux,Cloud_Bordeaux,GHI_Marseille,DNI_Marseille,DHI_Marseille,...,GHI_Paris,DNI_Paris,DHI_Paris,T_Paris,WS_Paris,Cloud_Paris,hour_sin,hour_cos,month_sin,month_cos
count,105155.000000,105155.000000,105155.000000,105155.000000,105155.000000,105155.000000,105155.000000,105155.000000,105155.000000,105155.000000,...,105155.000000,105155.000000,105155.000000,105155.000000,105155.000000,105155.000000,1.051550e+05,1.051550e+05,1.051550e+05,1.051550e+05
mean,851.707470,156.596434,181.840327,57.552755,14.510989,10.816425,58.138733,187.749456,243.601236,52.191127,...,142.896981,166.578652,54.666121,12.673821,13.264429,62.028767,2.461310e-06,-1.233030e-04,-4.885167e-03,-2.210217e-03
std,1270.509811,228.716123,266.718201,78.207594,7.059454,5.595896,39.848920,262.167975,310.863053,67.619027,...,216.149304,256.250506,75.674051,7.209525,6.833862,39.249842,7.071534e-01,7.070669e-01,7.057033e-01,7.084939e-01
min,-11.500000,0.000000,0.000000,0.000000,-5.300000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,-10.000000,0.000000,0.000000,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00
25%,0.000000,0.000000,0.000000,0.000000,9.500000,6.900000,15.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,7.500000,8.000000,22.000000,-7.071068e-01,-7.071068e-01,-8.660254e-01,-8.660254e-01
50%,17.000000,11.000000,3.200000,8.000000,14.000000,9.500000,68.000000,15.500000,14.250000,10.500000,...,10.000000,0.000000,8.000000,12.150000,12.000000,78.000000,1.224647e-16,-1.836970e-16,-2.449294e-16,-1.836970e-16
75%,1478.500000,264.500000,327.150000,101.000000,19.300000,13.600000,99.000000,338.000000,533.800000,98.000000,...,226.000000,275.100000,94.000000,17.800000,17.250000,100.000000,7.071068e-01,7.071068e-01,5.000000e-01,8.660254e-01
max,6697.500000,950.000000,937.400000,440.000000,40.500000,52.900000,100.000000,959.000000,952.600000,429.000000,...,915.000000,940.200000,410.000000,40.800000,50.700000,100.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [8]:
df['time'].dtype

dtype('O')

In [9]:
df['time'] = pd.to_datetime(df['time'])
df['time'].dtype

datetime64[ns, UTC]

In [10]:
df['time']

0        2018-01-01 00:00:00+00:00
1        2018-01-01 00:30:00+00:00
2        2018-01-01 01:00:00+00:00
3        2018-01-01 01:30:00+00:00
4        2018-01-01 02:00:00+00:00
                    ...
105150   2023-12-31 21:00:00+00:00
105151   2023-12-31 21:30:00+00:00
105152   2023-12-31 22:00:00+00:00
105153   2023-12-31 22:30:00+00:00
105154   2023-12-31 23:00:00+00:00
Name: time, Length: 105155, dtype: datetime64[ns, UTC]